backports.functools-lru-cache==1.5
cycler==0.10.0
matplotlib==2.1.2
nltk==3.2.5
numpy==1.14.0
pandas==0.22.0
PyBrain==0.3
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2018.3
ramp==0.1.4
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
subprocess32==3.2.7
Theano==1.0.1
